:root {
  --header-footer: #a8df9d;
  --buttons: #247459;
  
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: rgb(233, 230, 230);
  width: 12px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--buttons);
  border-radius: 10px;
}

body {
  background-image: url(./images/plano-de-fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
p {
  text-align: justify;
}

/*---HEADER------------------------------------------------*/
header {
  height: 105px;
  background-image: linear-gradient(10deg, #a8df9d, rgb(88, 145, 76));
  padding: 50x;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.425);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 25%;
  z-index: 1000;
  transition: 0.3s;
}

#page-header.scrollHide {
  opacity: 0;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  header {
    padding-left: 19.5%;
  }
}

@media (max-width: 1440px) {
  header {
    padding-left: 16%;
  }
}

@media (max-width: 1366px) {
  header {
    padding-left: 13%;
  }
}

@media (max-width: 1024px) {
  header {
    padding-left: 11%;
  }
}

.img-title {
  width: 100px;
  height: 100px;
}

#logo {
  display: inline-block;
  font-size: 70px;
  position: absolute;
}

#logo a {
  text-decoration: none;
  color: black;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

#menu {
  display: inline-block;
  position: absolute;
  margin-left: 350px;
  margin-top: 48px;
}

@media (max-width: 1024px) {
  #menu {
    top: -10px;
  }
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  padding: 4px 15px;
  color: black;
  text-decoration: none;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 24px;
  border-radius: 12px;
  transition: 0.4s;
}

#menu ul li a:hover {
  background-color: var(--buttons);
}

/*---MAIN------------------------------------------------*/

#culture {
  width: 100%;
  height: 120px;
}

main {
  margin: auto;
  width: 60vw;
  background-color: #f5f5f5;
  padding: 20px 50px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  text-indent: 22px;
  padding-bottom: 70px;
  line-height: 30px;
}

#cultura h1 {
  font-family: Poppins light, Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-indent: 22px;
  margin: 0;
  margin-bottom: 10px;
}
#cultura p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  text-indent: 22px;
  font-size: 18px;
}

.imagem {
  width: 70%;
  margin: auto;
}

.imagem img {
  display: block;
  margin: 30px auto;
  border-radius: 12px;
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1px;
}

.imagem:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.05);
  z-index: 1px;
}

#secundaria h1 {
  text-align: center;
}

#secundaria p {
  margin-top: 20px;
}

#video {
  display: flex;
  justify-content: center;
  margin: 2rem;
  width: 50vw;
}

#cultivo h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-indent: 0px;
}

#cultivo p {
  line-height: 30px;
  margin-bottom: 10px;
}

.fotos {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
}

.fotos img {
  border-radius: 12px;
  width: 23vw;
}

.lado-a-lado {
  display: flex;
}

.lado-a-lado img {
  width: 26vw;
  margin: 16px;
  border-radius: 12px;
}

#agua h1 {
  font-size: 30px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

#calendario {
  margin-top: 30px;
}

#calendario h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 16px;
}

#calendario h2 {
  font-size: 22px;
  text-align: center;
  margin: 12px 0;
}

#calendario h3 {
  font-size: 18px;
  text-indent: 0px;
}
#lunar {
  padding-top: 1em;
}

.lua {
  display: flex;
  margin-top: 12px;
}

.lua img {
  width: 23vw;
  border-radius: 12px;
}

#back-to-top {
  z-index: 5px;
  position: sticky;
  left: 78.3vw;
  border-radius: 50%;
  box-shadow: none;
  background-color: rgb(103, 165, 103);
  border-color: black;
  cursor: pointer;
  transition: 0.5s;
}

.hide {
  opacity: 0;
  transition: 0.5s;
}

@media (max-width: 1600px) {
  #back-to-top {
    left: 77.8vw;
  }
}

@media (max-width: 1440px) {
  #back-to-top {
    left: 77.4vw;
  }
}

@media (max-width: 1366px) {
  #back-to-top {
    left: 77.4vw;
  }
}

@media (max-width: 1024px) {
  #back-to-top {
    left: 76.5vw;
  }
}

#back-to-top:hover {
  background-color: var(--buttons);
}

/*---FOOTER------------------------------------------------*/

footer {
  z-index: 6px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin: auto;
  background-image: linear-gradient(140deg, #95d489, rgb(70, 99, 65));
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  box-shadow: -1px -2px 2px rgba(0, 0, 0, 0.425);
  height: 190px;
}

footer h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.zap {
  width: auto;
  background-color: #25d366;
  border-radius: 10px;
  padding: 5px;
  border: 2px black solid;
  transition: 1s;
  display: flex;
}

.zap:hover {
  animation: pulsate 1s ease-in-out;
  background-color: #25d366;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 15px #a5e998, 0 0 30px #236416;
  }
}

.zap img {
  width: 30px;
  height: 30px;
}

.zap a {
  text-decoration: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  margin-left: 5px;
  font-weight: 600;
}

#contatos {
  display: inline-block;
}

#email_rodape {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
  width: 80px;
  padding: 2px 5px;
  border-radius: 8px;
}
#email_rodape:hover {
  background-color: var(--buttons);
}

#integrantes {
  position: absolute;
  display: inline-block;
  margin-left: 40px;
}

#integrantes ul li {
  list-style-type: none;
}

#integrantes h1 {
  margin-bottom: 3px;
}

.unip {
  width: 200px;
  float: right;
  margin-top: 90px;
  margin-right: 10px;
}
